<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectOneWPF.Properties.Settings.Project_OneConnectionString" connectionString="Data Source=DESKTOP-ABCMT0D\SQLEXPRESS;Initial Catalog=Project-One;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
